@import 'animations';
@import 'mixins';
@import 'reset';

body {
    font-family: 'Cairo';
    font-size: 2em;
    background: url(/Websites/portfolio2/dist/img/background.jpg) no-repeat center center/cover;
    height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
    
    &::after {
        content: '';
        display: inline-block;
        @include bg(black,.65);
        height: 100vh;
        width: 100vw;
    }
}

// all the nav styles
.nav {
    visibility: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;
    &-icon {
        position: fixed;
        @include transition;
        display: inline-block;
        position: absolute;
        top: 35px;
        right: 35px;
        cursor: pointer;
        visibility: visible;
        z-index: 1;
    }

    &-line {
        @include transition;
        width: 28px;
        height: 3px;
        background-color: white;
        margin: 5px auto;
    }

    &-page {
        visibility: hidden;
        .image-container {
           @include container;
           @include bg(lightgrey, .9);
           @include transition;
           transform: translateX(-100%);


           .image{
            background: url(/Websites/portfolio2/dist/img/portrait_small.jpg) no-repeat center center/cover; 
            height: 200px;
            width: 200px;
            border-radius: 50%;
           }

        }

        .links-container {
            @include container;
            @include bg(darkgrey, .9);
            @include transition;
            transform: translateX(100%);


            ul{
                list-style: none; 
                text-align: center;
                text-transform: uppercase;
            }

            li {
                @include transition;

                &:hover {
                    transform: scale(1.25);
                    @include transition;
                }
            }

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: greenyellow;
                }
            }
        }
        
    }
}

// content
.content {
    display: inline-block;
    padding: 2rem;
    position: absolute;
    min-width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    line-height: 1.5;
    z-index: 1;

    &-heading span {
        color: yellow;
    }

    &-text {
        display: inline-block;
        padding: 5px;
        margin-right: 1em;
        @include bg(black, .5)
    }

    &-social-icons {
        i {
            color: white;
            margin: 1rem 1rem 0 0;
            &:hover {
                @include transition;
                color: yellow;
            }
        }
    }
}

.show {
    visibility: visible;
    .image-container {
        transform: translateX(0%);
    }
    .links-container {
        transform: translateX(0%);
    }
   }

// nav icon rotator
.nav-icon {
     &.close {
         transform: rotate(180deg);
         // rotate line 1
          & > :nth-child(1) {
              transform:translate(5px, 5px) rotate(45deg);
          }
          // hide line 2
          & > :nth-child(2) {
            background-color: transparent;
         }
          // rotate line 3
         & > :nth-child(3) {
             transform:translate(5px, -10px) rotate(-45deg);
         }
    }
}
