body {
    position: relative;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    background-color: grey;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    box-shadow: 0px 0px 24px black;
    border-radius: 12px;
    padding: 1em;
}

form>* {
    display: block;
}

label {
    margin-top: 1em;
}

input {
    outline: none;
}

input[type='submit'] {
    margin: 1em auto;
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 20px;
    background: grey;
    color: white;
}

input:invalid {
    border: 2px red solid;
}

input[type='text']:valid,
input[type='password']:valid,
input[type='email']:valid {
    
    border: 2px green solid;
}

label.show-pass {
    font-size: 12px;
    display: inline;
}

input[type='checkbox'] {
    display: inline;
}