

:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;
    background-color: grey;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 150, 170);
    height: 450px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 5%;
    box-shadow: 2.5px 5px 12px black;
    transition: all .25s linear;
}

.container:hover {
    box-shadow: 7px 14px 12px black;
    width: 375px;
    height: 475px;
    font-size: large;
}

label {
    text-transform: uppercase;
    display: block;
    margin-top: 1.5em;
}

input[type="text"],
input[type="password"] {
    
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(1, 60, 68);
    width: 250px;
    cursor: pointer;
    transition: border .25s linear;
    

    text-transform: uppercase;
    color: white;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid white;
}

input[type="submit"] {
    background-color: rgb(1, 28, 31);
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 48px;
    margin-top: 1em;
    color: white;
    transition: background-color .125s linear;
}

input[type="submit"]:hover {
    background-color: rgb(2, 72, 80);
}